*.swp
*.swo
*.*~
temp/
test.dat
test*.dat
pythonlocation
7ziplocation
cblocation

*zetaforce.mp3*
*musa.mp3*
*seek/foobar/playlists/*
seek/foobar/theme.fth
release/archives/
release/temp/

#temporary source files
src/inc/editor_debug.cb
src/inc/editor_release.cb
src/inc/foobar.cb
src/inc/sync_debug.cb
src/inc/sync_release.cb
src/inc/garbage.cb
